@using SR3._2.Models.Device
@using SR3._2.Models.Interfaces
@model  IEnumerable<AbstractDevice>

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Фигуры</title>
    <style>
        .figure-div {
            border: 1px solid black;
            float: left;
            margin: 3px;
            padding: 3px;
        }
    </style>
</head>
<body>
    <div>
        @*@using (Html.BeginForm("Add", "Device"))
        {
            @Html.DropDownList("deviceType", (IEnumerable<SelectListItem>))
            <input type="submit" value="Добавить">
        }*@

        @foreach (var item in Model)
        {
            <div class="figure-div">
                Устройство: @item<br />
                <div>
                    <a href="/Device/OnOff/@item.Id">Вклюв/выклюв</a><br>
                    Вклю: @(item.State)
                </div>
                @if (item is IVolume)
                {
                    using (Html.BeginForm("Volume" + item.Id, "Device"))
                    {
                        <div>
                            Громкость крика: @(((IVolume)item).Volume)
                            <a href="" id="incrvol">Добавить крика</a>
                            <a href="/Device/VolumeDecr/@item.Id" id="decrtv">Убавить крика</a>
                            <div id="result"></div>
                        </div>
                    }
                }
                @if (item is IRegulatorTemp)
                {
                    using (Html.BeginForm("Temp" + item.Id, "Device"))
                    {
                        <div>
                            Температура: @(((IRegulatorTemp)item).Temp)
                            <a href="" id="incrtemp">Испепелить</a>
                            <div  id="result4"></div>
                            <a href="" id="decrtemp">Отморозить</a>
                            <div id="result4"></div>
                        </div>
                    }
                }

                @if (item is IChangeChennel)
                {
                    using (Html.BeginForm("Chennel" + item.Id, "Device"))
                    {
                        <div>
                            Канал ужасти: @(((IChangeChennel)item).Chennel)
                            <a href="">Следующий кханурик</a>
                            <a href="">Предедущий кханурик</a>
                        </div>
                    }
                }
                @if (item is IOpenClose)
                {
                    using (Html.BeginForm("OpenClose" + item.Id, "Values"))
                    {
                        <div>
                            Дверца: @(((IOpenClose)item).OpenClose)
                            <a href="" id="openclose">Открыть/Закрыть врата</a>
                            <div id="result5"></div>
                        </div>
                    }
                }

                @using (Html.BeginForm("Delete" + item.Id, "Device"))
                {
                    <a href="">Изничтожить</a>

                }
            </div>
          
            <script>
                $(function () {
                    $("#incrtemp").click(function () {
                        $.ajax({
                            url: "/api/values/Incrtemp",
                            type: "put",
                            success: function (data) {
                                $("#result4").html();
                            }
                        });
                    });
                });
        $(function () {
            $("#decrtemp").click(function () {
                $.ajax({
                    url: "/api/values/Decrtemp",
                    type: "PUT",

                    success: function (data) {
                        $("#result4").html();
                    }
                });
            });
        });
            $(function () {
                $("#openclose").click(function () {
                    $.ajax({
                        url: "/api/values/OpenClose",
                        type: "PUT",

                        success: function (data) {
                            $("#result5").html();
                        }
                    });
                });
            });
            $(function () {
                $("#volincr").click(function () {
                    $.ajax({
                        url: "/api/values/VolumeIncr",
                        type: "PUT",
                        data : "2",
                        success: function (data) {
                            $("#result5").html();
                        }
                    });
                });
            });
            $(function () {
                $("#voldecr").click(function () {
                    $.ajax({
                        url: "/api/values/VolumeDecr",
                        type: "Edit",

                        success: function (data) {
                            $("#result5").html();
                        }
                    });
                });
            });
            $(function () {
                $("#delete").click(function () {
                    $.ajax({
                        url: "/api/values/Delete",
                        type: "DELETE",

                        success: function (data) {
                            $("#").html();
                        }
                    });
                });
            });
                </script>
        }
</body>
</html>
